<p>Total {{tasks.length}} Tasks</p>
<table>
    <tr>
        <td>Filter:</td>
        <td><input type="text" ng-model="query"/></td>
    </tr>
    <tr>
        <td>Order:&nbsp;</td>
        <td>
            <select ng-model="orderProp">
                <option value="what">What</option>
                <option value="when">When</option>
            </select>
        </td>
    </tr>
</table>
<br />
<br />
<table>
        <thead>
                <tr>
                        <th>What</th>
                        <th>When</th>
                        <th>
                                <a href="#/new">
                                        <i class="icon-plus-sign"></i>
                                </a>
                        </th>
                </tr>
        </thead>
        <tbody>
                <tr ng-repeat="task in tasks | filter:query | orderBy:orderProp">
                        <td>{{task.what}}</td>
                        <td>{{task.when}}</td>
                        <td>&nbsp;
                                <a href="#/edit/{{task.id}}">
                                        <i class="icon-pencil"></i>
                                </a>
                                <a href="#"
                                   ng-click="remove(task.id)"
                                   confirmation-needed>
                                        <i class="icon-remove"></i>
                                </a>
                        </td>
                </tr>
        </tbody>
</table>
