<p>Total {{tasks.length}} Tasks</p>
<p>Filter: <input ng-model="query"/></p>
<p>Order:
   <select ng-model="orderProp">
        <option value="what">What</option>
        <option value="when">When</option>
   </select>
</p>
<table>
        <thead>
                <tr>
                        <th>What</th>
                        <th>When</th>
                        <th>
                                <a href="#/new">
                                        <i class="icon-plus-sign"></i>
                                </a>
                        </th>
                </tr>
        </thead>
        <tbody>
                <tr ng-repeat="task in tasks | filter:query | orderBy:orderProp">
                        <td>{{task.what}}</td>
                        <td>{{task.when}}</td>
                        <td>
                                <a href="#/edit/{{task.id}}">
                                        <i class="icon-pencil"></i>
                                </a>
                                <a href="#"
                                   ng-click="remove(task.id)"
                                   confirmation-needed>
                                        <i class="icon-remove"></i>
                                </a>
                        </td>
                </tr>
        </tbody>
</table>
